/**
 * Consensus styles for Consensus module, for Drupal 6.x
 */



/**
*	Consensus specific styles
**/
.c_content {
}
.c_content li {
	list-style-type: none;
	background: none;
}
.c_content ul {
	padding: 0;
	margin: 0;
}
.consensus_item.c_item .consensus_item.c_item .revision.c_item {
	background-image: url(images/bullet-item.png);
}
.consensus_item.c_item .consensus_item.c_item .consensus_item.c_item .revision.c_item {
	background-image: url(images/bullet-item-1.png);
}
.consensus_item.c_item .consensus_item.c_item .consensus_item.c_item .consensus_item.c_item .revision.c_item {
	background-image: url(images/bullet-item-2.png);
}
.c_content > ul > .consensus_item > .revision, .c_heading > ul > .consensus_item > .revision.c_item {
	padding-left:0.5em;
	background-image: none;
}
.c_item.c_active, .c_heading.c_active {
	border: solid 2px #888888;
}
.revision.c_objection {
	background-image: url(images/bullet-objection.png);
}
.revision.c_reservation {
	background-image: url(images/bullet-reservation.png);
}
.revision.c_block {
	background-image: url(images/bullet-block.png);
}
.revision.c_comment {
	background-image: url(images/bullet-comment.png);
}
.revision.c_reference {
	background-image: url(images/bullet-reference.png);
}
.revision.c_item, .revision.c_objection, .revision.c_reservation, .revision.c_suggestion, .revision.c_question, .revision.c_block, .revision.c_note, .revision.c_comment, .revision.c_reference {
	background-repeat: no-repeat;
	background-position: 1em 0.3em;
}
.c_content > ul > .consensus_item {
	padding: 0 0 0.8em 0;
}
.c_content .c_heading.consensus_item {
	border-bottom: solid 1px #CCCCCC;
	border-left: solid 1px #CCCCCC;
	margin-bottom: 2em;
	padding-top:1em;
}
.c_content > ul > .consensus_item.c_heading {
	padding: 0.5em 0 1em 0;
}
.consensus_item ul {
	padding: 0 0 0 1.5em;
}
.consensus_item.c_heading > ul {
	padding: 0 0 0 0.5em;
}
ul li.consensus_item:last-child {
	margin-bottom: 0em;
}
.consensus_item {
	padding: 0;
	margin: 6px -1px 1.5em 0;
	overflow: visible;
}
.consensus_item div.revision {
	padding: 0 0.5em 0 3em;
	margin:  0 0 0 0.5em;
	position: relative;
	cursor:pointer;
}
.c_content > ul > .consensus_item .c_item, .c_content > ul > .consensus_item .c_heading, .c_content > ul > .c_heading.consensus_item > .consensus_item > .revision {
	margin-left: 0;
}
.consensus_item div.revision.c_heading {
	padding: 0 0.5em 0.5em 0.5em;
}
div.revision.c_item, div.revision.c_heading {
	/* border: solid 1px; */
  -moz-border-radius: 5px;
	border-radius: 5px;
	border-color: #999999;
}
.revision.c_reservation, .revision.c_objection, .revision.c_question, .revision.c_block, .revision.current.c_hide, .revision.c_comment, .revision.c_reference {
	border: solid 1px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
div.revision.c_reservation {
	border-color:#FFCC00;
}
div.revision.c_objection {
	border-color:#FF0000;
}
div.revision.c_question {
	border-color:#0000FF;
}
div.revision.c_comment {
	border-color: #76D4FE;
}
div.revision.c_block {
	border-color: #000000;
	border: 3px solid;
}
div.revision.c_reference {
	border-color: #855C28;
}
.consensus_item {
	border: solid 1px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*
div.c_reservation { border-color:#FFCC00;}
div.c_objection  {  border-color:#FF0000;}
div.c_question {  border-color:#0000FF;}
div.c_block {  border-color:#B5002D;}
div.c_item { border-color: #FFFFFF;}
div.c_block { border-color: #000000;}
*/
.c_content .c_blocked {
	border-color: #000000;
	border: solid 2px;
}
/*
div.c_hide div.current {
	padding-bottom: 2px;
	border-color: #BBBBBB;
}
div.c_hide > div > div > div {
	display: none;
}
*/
.revision.c_highlight {
	background-color:#F0F0F0;
}
.revision.c_highlight.c_highlight-endorse {
	background-color:#D9FFDC;
}
.revision.c_highlight.c_highlight-author {
	background-color:#FFFDE4;
}
.c_content .consensus_item {
	border: dashed 1px #FFFFFF;
}
.c_content .consensus_item.c_highlight {
	border: dashed 1px #AAAAAA;
}
.c_user.c_highlight-endorse, .c_user.c_highlight-endorse.c_highlight-author {
	/*background-color:#FFFFFF;*/
}
.c_user.c_highlight-author {
	background-color:#FFFDE4;
}
/* ui styles */
.c_active {
	overflow: visible;
	background-color: #FFFFFF;
	z-index: 2001;
}
.slide_wrapper {
	display:none;
	padding: 5px;
}
.slide_wrapper.upper {
	position:absolute;
	z-index:2000;
	background-color:#EEEEEE;
	opacity: 0.95;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	border-color: #333333;
	left: 0px;
	-moz-box-shadow: 3px -2px 3px #888;
	-webkit-box-shadow: 3px -2px 3px #888;
	box-shadow: 3px -2px 3px #888;
}
.slide_wrapper.lower {
	padding-left: 2em;
}
.slide_wrapper.lower .c_edit_pane {
	padding-right: 1.5em;
}
.c_close_window {
	position: absolute;
	right: 2px;
	top: 0;
}
.c_close_window a {
	background: url('images/bullet-close.png') no-repeat 0 0;
	padding-left: 15px;
}
/* extras pane */

.c_extra {
	position: relative;
	overflow: visible;
	-moz-border-radius:15px 15px 15px 15px;
	border-radius: 15px;
	border:2px solid #CBCB74;
	padding:8px;
	margin-top: 17px;
}
.c_extra .c_itemlink {
	position: absolute;
	top: -23px;
	left: 0;
}
.c_extra div {
	margin-right: 20px;
}
.c_extra .c_author, .c_extra .c_endorsements {
	overflow: hidden;
	height: auto;
	position: relative;
	float: left;
	color:#777777;
	font-size:10px;
}
.c_extra .c_author {
	width: 300px;
}
.c_extra .c_author .c_author_name {
	color: #222222;
	font-size: 150%;
}
.c_extra .c_author img.user_img {
	float: left;
	margin-right: 10px;
}
.c_extra .c_date_revised {
}
.c_extra .c_edit_note {
	margin: 5px 0 5px 0;
}
.c_extra .c_edit_note .c_edit_note_title {
	display: block;
	font-weight: bold;
	height:14px;
}
v.c_extra .c_edit_note .c_edit_note_body {
}
.c_extra .c_endorsements {
	float: left;
}
.c_extra .c_revision_rollback {
	float: right;
	border: solid 2px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-color: #CBCB74;
	padding: 2px 8px 8px 8px;
	width: 243px;
	margin-right: 0;
}
.c_extra .c_revision_rollback > span {
	color:#414125;
	font-size:12px;
	display: block;
	clear: right;
}
.c_extra .c_revision_rollback a span {
	display:block;
	height:20px;
	text-align:center;
	font-size:12px;
}
.c_extra .c_revision_rollback a.c_revision_save {
	display: block;
	float:left;
	margin-right: 20px;
	height:20px;
	width: 43px;
	background: url('images/button-save.png') no-repeat;
}
.c_extra .c_revision_rollback a.c_revision_back {
	display: block;
	float:left;
	margin-right: 20px;
	height:20px;
	width: 80px;
	background: url('images/button-back.png') no-repeat;
}
.c_extra .c_revision_rollback a.c_revision_forward {
	display: block;
	float:left;
	height:20px;
	width: 80px;
	background: url('images/button-forward.png') no-repeat;
}
.c_extra .c_revision_rollback a.c_revision_save span {
	padding:0 4px;
	width:35px;
}
.c_extra .c_revision_rollback a.c_revision_back span {
	padding:0 8px 0 19px;
	width:53px;
}
.c_extra .c_revision_rollback a.c_revision_forward span {
	padding:0 19px 0 8px;
	width:53px;
}
/* edit pane */
div.c_edit_pane {
	/* position:absolute; */
	z-index:2;
	overflow:visible;
	bottom: 5px;
	clear: both;
  display: block;
}
.c_loading {
	margin: 20px 20px 150px 20px;
}
.c_endorse_button .c_loading {
	margin: 0;
}

.c_edit_pane ul li {
}
.c_hide .c_edit_pane ul li {
	display: none;
}
a {
	cursor: pointer;
}
ul.c_edit_buttons {
	margin: 0.2em 0 0 0;
	overflow: hidden;
}
.c_edit_pane ul li {
	padding: 0;
	margin: 0 25px 8px 0;
	display: block;
	float: left;
	background: none;
	border-left: solid 1px #CCCCCC;
}
.c_edit_pane span.label {
	float: left;
	font-size: 1.1em;
	font-weight: bold;
	margin-right: 10px;
}
.c_edit_buttons li a span {
	background:none repeat scroll 0 0 transparent;
	color:#000000;
	display:block;
	font-size:12px;
	font-weight:bold;
	height:25px;
	padding: 0 0 0 20px;
}
.c_edit_buttons li.c_edit_insert_objection a span, .c_edit_buttons li.c_edit_insert_reservation a span, .c_edit_buttons li.c_edit_insert_item a span, .c_edit_buttons li.c_edit_insert_comment a span {
}
.c_edit_insert_comment {
}
.c_edit_insert_reservation {
}
.c_edit_buttons li a {
	display: inline-block;
	height: 20px;
	margin-left:8px;
}
.c_edit_insert_endorse a {
	background: url('images/bullet-endorse.png') no-repeat 0 3px;
}
.c_edit_insert_retract a {
	background: url('images/bullet-retract.png') no-repeat 0 3px;
}
.c_edit_insert_move_move a {
	background: url('images/bullet-move.png') no-repeat 0 3px;
}
.c_edit_insert_revision a {
	background: url('images/bullet-edit.png') no-repeat 0 3px;
}
.c_edit_insert_item_item a {
	background: url('images/bullet-item.png') no-repeat 0 3px;
}
.c_edit_insert_item_reference a {
	background: url('images/bullet-reference.png') no-repeat 0 3px;
}
.c_edit_insert_item_objection a {
	background: url('images/bullet-objection.png') no-repeat 0 3px;
}
.c_edit_insert_item_reservation a {
	background: url('images/bullet-reservation.png') no-repeat 0 3px;
}
/*
.c_edit_insert_hide a {
	background: url('images/bullet-hide.png') no-repeat 0 3px;
}
.c_edit_insert_unhide a {
	background: url('images/bullet-unhide.png') no-repeat 0 3px;
}
*/
.c_edit_insert_item_comment a {
	background: url('images/bullet-comment.png') no-repeat 0 3px;
}
.c_edit_insert_item_block a {
	background: url('images/bullet-block.png') no-repeat 0 3px;
}
.c_edit_insert_item_heading a {
	background: url('images/bullet-heading.png') no-repeat 0 3px;
}
/* add pane */
div.c_add_pane {
	position:relative;
	z-index:2;
	overflow:hidden;
}
.consensus_item > div.c_add_pane {
	padding-left: 1.5em;
}
.consensus_item.c_heading > .consensus_item > div.c_add_pane {
	padding-left: 0;
}
div.c_add_pane_prev {
}
div.c_add_pane_next {
}
div.c_add_pane ul {
	top: -5px;
	height: 18px;
	margin: 0;
	padding: 0;
}
.c_add_pane ul li {
	display: block;
	font-size: 10px;
	font-weight: bold;
	margin: 1px 5px 1px 0;
	padding: 0;
	height: 18px;
	float: left;
}
.c_add_pane ul li a {
	width: 100%;
	height: 100%;
	display: block;
}
ul.c_add_buttons li.c_add_insert_item_item {
	background: url('images/add-item.png') 0 0 no-repeat transparent;
	width: 75px;
}
ul.c_add_buttons li.c_add_insert_item_comment {
	background: url('images/add-comment.png') 0 0 no-repeat transparent;
	width: 75px;
}
ul.c_add_buttons li.c_add_insert_item_reference {
	background: url('images/add-reference.png') 0 0 no-repeat transparent;
	width: 75px;
}
ul.c_add_buttons li.c_add_insert_item_heading {
	background: url('images/add-heading.png') 0 0 no-repeat transparent;
	width: 75px;
}
ul.c_add_buttons li a span {
	color:#000000;
	display:block;
	height:18px;
	margin:-1px 3px 0 15px;
	text-align:center;
	width:57px;
}

div.c_endorse_label {
	font-size: 0.9em;
	font-weight: bold;
	line-height: 1em;
	text-align: right;
	float: right;
	margin: -20px -20px 0 0;
}
a.c_endorse_button {
	position: absolute;
	background: url('images/bullet-grey.png') transparent no-repeat 0 0;
	width: 14px;
	height: 14px;
	margin: 3px;
	right:-20px;
	opacity: 0.4;
}
a.c_endorse_button.active {
	background: url('images/bullet-green.png') transparent no-repeat 0 0;
	opacity: 1;
}
/* in context-out cases */
a.c_endorse_button.active.contextOut {
	background: url('images/bullet-yellow.png') transparent no-repeat 0 0;
	opacity: 1;
}
/* move styles */
.c_content .consensus_item.sorting {
/*	border: 2px solid #666666; */
	/*margin: 20px 0 20px 0;*/
}
.c_content .c_placeholder {
	min-height: 20px;
	border: dashed 1px #AAAAAA;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.c_placeholder.ui-nestedSortable-error {
	background:#FF9194;
}
.c_move_padding {
	padding: 0 0.5em 1em 3em;
}
.c_content .c_moving.sorting.consensus_item > .c_moving_button.revision,
.c_content .consensus_item .c_moving.sorting.consensus_item > .c_moving_button.revision,
.c_content .consensus_item .consensus_item .c_moving.sorting.consensus_item > .c_moving_button.revision,
.c_content .consensus_item.c_item .consensus_item .consensus_item .c_moving.sorting.consensus_item > .c_moving_button.revision {
	background: url('images/moving.png') 10px 5px no-repeat transparent;
}
.consensus_item.sorting {
	border: dashed 1px #7DD848;
}
.consensus_item.sorting.no-nest {
	border: none;
}
.c_content .sorting > .revision { /*background: url(images/no-move.png) 10px 5px no-repeat transparent; */
}
.consensus_item .revision.c_moving_button {
	cursor:move;
}
.revision.exclude, .consensus_item.exclude {
	display: none;
}
.consensus_item.exclude.unendorse-reveal.c_blocked {
	display: none;
}
.toolbox-blocked-reveal .consensus_item.exclude.unendorse-reveal.c_blocked {
	display: block;
}
.consensus_item.toolbox-hide {
	display: none;
}
.toolbox-hide-item .c_item, .toolbox-hide-reservation .c_reservation, .toolbox-hide-objection .c_objection, .toolbox-hide-reference .c_reference, .toolbox-hide-comment .c_comment {
	display: none;
}
.revision.exclude.unendorse-reveal.top, .consensus_item.exclude.unendorse-reveal {
	display: block;
}
.c_blocked {
	display:none;
}
.toolbox-blocked-reveal .c_blocked {
	display: block;
}
.revision {
	display: none;
}
.revision.top {
	display: block;
}
.revision.top.context-out .data-text{
	color: #666666;
}

.revision .data {
	display: none;
}

/* other */
.revision {
}
.content {
}
#c_issue_data {
	display: none;
}
/** Editing styles */
form.c_edit {
	margin: 0px;
}
#consensus-page-form textarea {
	width: 98%;
	height: 2em;
	margin-right: 5px;
	margin-top: 5px;
	padding-left:2px;
}
.type-radio div {
	display: inline;
	padding-right: 10px;
}
/** Consensus Users Block **/
#consensus-users {
/*	height:100%;
	position:fixed; 
	top:0px;
	right: 0px;
	z-index: 10;*/
}
#consensus-users ul.consensus_user, #consensus-groups ul.consensus_groups {
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
}
.c_user, .c_group {
	margin: 0 0 5px 0;
	padding: 10px;
	border: solid 3px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-color: #DDDDDD;
	background-image: none;
	font-size: 0.9em;
	overflow: hidden;
	background-color: #DDDDDD;
}
.c_user:hover, .c_group:hover {
	border-color: #D6FFA0;
}
.c_user.c_highlight_include, .c_group.c_highlight_include {
	border-color:#666666;
}
.c_user.c_active_user {
	background-color:#FFFFCC;
}
.c_user.c_highlight_include:hover, .c_group.c_highlight_include:hover {
	border-color:#89AE62;
}
.c_user img.user_img, .c_group img.group_img {
	float: right;
	margin-left: 5px;
}
.c_user h3, .c_group h3 {
	font-size: 16px;
	font-weight: bold;
}
.c_user .c_groups {
	margin: 0;
	padding: 0;
}
.c_user .c_groups li {
	margin: 0 5px 0 0;
	padding: 0;
	display: inline;
	background: none;
}
#consensus-users ul.c_items,
#consensus-groups ul.c_items {
	display:block;
	padding: 0;
	overflow: hidden;
}
#consensus-users ul.c_items li,
#consensus-groups ul.c_items li {
	margin: 0;
	padding: 0 10px 2px 0;
	display: block;
	background: none;
	border: none;
	font-size: 0.9em;
	position: relative;
	float: left;
}
#consensus-users ul.c_items li.c_heading,
#consensus-groups ul.c_items li.c_heading {
	display: none;
}
#consensus-users ul.c_items li img,
#consensus-groups ul.c_items li img {
	margin-right: 2px;
	margin-bottom: -2px;
}
.small {
	font-size: 9px;
}
#consensus-users .form-item,
#consensus-groups .form-item {
	margin-top: 1px;
	margin-bottom: 2px;
}
html.js .consensus_user .c_user fieldset, html.js .consensus_groups .c_group fieldset {
	margin: 5px 0 -5px;
	padding: 0 0 7px;
	border: none;
	height: auto;
}

.consensus_user .c_user_name {
	font-size: 1.3em;
	font-weight: bold;
}
.consensus_user .c_user fieldset.collapsible legend, .consensus_groups .c_group fieldset.collapsible legend {
	display: none;
}
.consensus_user .c_user fieldset.collapsible.collapsed legend a {
	/* background:url("images/menu-collapsed.gif") no-repeat scroll 0 50% transparent;*/
background:none;
	height:8px;
}
.consensus_user .c_user fieldset.collapsible.collapsed, .consensus_groups .c_group fieldset.collapsible.collapsed {
	background: url('images/small-down.png') bottom center no-repeat transparent; 
}
.consensus_user .c_user fieldset.collapsible, .consensus_groups .c_group fieldset.collapsible {
	background: url('images/small-up.png') bottom center no-repeat transparent; 
}

.consensus_user .c_user fieldset.collapsible legend a {
	/* background:url("images/menu-expanded.gif") no-repeat scroll 0 50% transparent; */
background:none;
	color: transparent;
}
/* sort fields */
#c_user_sortby ul li {
	display: inline;
	opacity: 0.4;
	background: none;
	padding: 1px;
	margin: 0 2px 0 0;
}
#c_user_sortby ul {
	padding: 0 8px;
	display: inline;
}
#c_user_sortby ul li.c_active_sort {
	opacity: 1;
}
.c_user_placeholder {
	min-height: 90px;
}
/*
*		Styles for consensus  toolbox
*/

.columns2 {
	width: 50%;
	float:left;
}
#consensus-toolbox {
	overflow: hidden;
}
/*
#edit-edit-area-text-wrapper label {
	display: none;
}*/
#edit-edit-area-text-wrapper {
	margin-top: 0;
}
/*
*	Slider
*/

#c_slider_element {
	background-color: #CCCCCC;
	border: 1px solid #999999;
}
.ui-slider-handle {
	background-color: #FFFFFF;
	border: 1px solid #666666;
	border-radius: 2px;
	-moz-border-radius: 2px;
}
.after_slider {
	display:none;
}
/**
*	checkbox include
*/
li.c_user form-item .label_include {
	display: none;
}
li.c_user input.c_include,
li.c_group input.c_include {
	position: absolute;
	top: 8px;
	left:0;
}
li.c_group div.c_group_name,
li.c_user div.c_user_name {
	margin-left: 15px;
}

.block-consensus_groups {
padding
}