<table>
  <tr>
    <td align="center" style="background: none repeat scroll 0% 0% rgb(206, 224, 242); text-align: center;" colspan="3"><div style="position: relative; top: -3em;"><span id="WP:CHEAT"></span></div>
      <h2 style="margin: 0.1em 0.5em; border-bottom: 0pt none; font-weight: bold;"><span id="Wikipedia_Cheatsheet" class="mw-headline">WikiText Cheatsheet</span></h2></td>
  </tr>
  <tr>
    <td style="background: none repeat scroll 0% 0% rgb(230, 242, 255); padding: 0.2em; font-size: 0.9em; text-align: center;" colspan="3"><b>Works anywhere in the text</b></td>
  </tr>
  <tr>
    <td width="30%" style="background: none repeat scroll 0% 0% rgb(230, 242, 255); padding: 0.3em; font-size: 0.9em; text-align: center;">Description</td>
    <td style="background: none repeat scroll 0% 0% rgb(230, 242, 255); padding: 0.3em; font-size: 0.9em; text-align: center;">You type</td>
    <td width="30%" style="background: none repeat scroll 0% 0% rgb(230, 242, 255); padding: 0.3em; font-size: 0.9em; text-align: center;">You get</td>
  </tr>
  <tr>
    <td style="border-top: 1px solid rgb(206, 224, 242);" colspan="3"></td>
  </tr>
  <tr>
    <td>Italic text<span id="Italic_text"></span></td>
    <td><p><tt>''italic''</tt></p></td>
    <td><p><i>italic</i></p></td>
  </tr>
  <tr>
    <td>Bold text<span id="Bold_text"></span></td>
    <td><p><tt>'''bold'''</tt></p></td>
    <td><p><b>bold</b></p></td>
  </tr>
  <tr>
    <td>Bold and italic text<span id="bold_and_italic"></span></td>
    <td><p><tt>'''''bold &amp; italic'''''</tt></p></td>
    <td><p><i><b>bold &amp; italic</b></i></p></td>
  </tr>
  <tr>
    <td><a class="mw-redirect" title="Wikipedia:Linking" href="/wiki/Wikipedia:Linking">Link to another Consensus page</a><span id="Internal_link"></span></td>
    <td><p><tt>[[Name of page]]</tt><br>
        <tt>[[Name of page|Text to display]]</tt></p></td>
    <td><p><a title="Name of page (page does not exist)" class="new" href="/w/index.php?title=Name_of_page&amp;action=edit&amp;redlink=1">Name of page</a><br>
        <a title="Name of page (page does not exist)" class="new" href="/w/index.php?title=Name_of_page&amp;action=edit&amp;redlink=1">Text to display</a></p></td>
  </tr>
  <tr>
    <td style="border-top: 1px solid rgb(206, 224, 242);" colspan="3"></td>
  </tr>
  <tr>
    <td style="background: none repeat scroll 0% 0% rgb(230, 242, 255); padding: 0.2em; font-size: 0.9em; text-align: center;" colspan="3"><b>Works only at the beginning of lines</b></td>
  </tr>
  <tr>
    <td width="30%" style="background: none repeat scroll 0% 0% rgb(230, 242, 255); padding: 0.3em; font-size: 0.9em; text-align: center;">Description</td>
    <td style="background: none repeat scroll 0% 0% rgb(230, 242, 255); padding: 0.3em; font-size: 0.9em; text-align: center;">You type</td>
    <td width="30%" style="background: none repeat scroll 0% 0% rgb(230, 242, 255); padding: 0.3em; font-size: 0.9em; text-align: center;">You get</td>
  </tr>
  <td><a title="Help:Section" href="/wiki/Help:Section">Section headings</a><span id="Section_headings"></span><br>
      <div style="padding: 0.7em 0.5em; font-size: 0.9em;"><i>A Table of Contents will automatically be generated when four headings are added to an article.</i></div>
      <div style="padding: 0em 0.5em; font-size: 0.9em;"><i>=Level 1= should not be used.</i></div></td>
    <td><p><tt>== Level 2 ==</tt><br>
        <tt>=== Level 3 ===</tt><br>
        <tt>==== Level 4 ====</tt><br>
        <tt>===== Level 5 =====</tt><br>
        <tt>====== Level 6 ======</tt></p></td>
    <td><h2><span id="Level_2" class="mw-headline">Level 2</span></h2>
      <h3><span id="Level_3" class="mw-headline">Level 3</span></h3>
      <h4><span id="Level_4" class="mw-headline">Level 4</span></h4>
      <h5><span id="Level_5" class="mw-headline">Level 5</span></h5>
      <h6><span id="Level_6" class="mw-headline">Level 6</span></h6></td>
  </tr>
  <tr>
    <td style="border-top: 1px solid rgb(206, 224, 242);" colspan="3"></td>
  </tr>
  <tr>
    <td><a title="Help:List" href="/wiki/Help:List">Bulleted list</a><span id="Bulleted_list"></span></td>
    <td><p><tt>* One</tt><br>
        <tt>* Two</tt><br>
        <tt>** Two point one</tt><br>
        <tt>* Three</tt></p></td>
    <td><ul>
        <li>One</li>
        <li>Two
          <ul>
            <li>Two point one</li>
          </ul>
        </li>
        <li>Three</li>
      </ul></td>
  </tr>
  <tr>
    <td style="border-top: 1px solid rgb(206, 224, 242);" colspan="3"></td>
  </tr>
  <tr>
    <td><a title="Help:List" href="/wiki/Help:List">Numbered list</a><span id="Numbered_list"></span></td>
    <td><p><tt># One</tt><br>
        <tt># Two</tt><br>
        <tt>## Two point one</tt><br>
        <tt># Three</tt></p></td>
    <td><ol>
        <li>One</li>
        <li>Two
          <ol>
            <li>Two point one</li>
          </ol>
        </li>
        <li>Three</li>
      </ol></td>
  </tr>
</table>
